<table class="info"><tr>
  <td>
    <a href="/">
      <img src="lefteris.jpg" alt="{{page.author}}" style="max-width: 100%;">
    </a>
  </td>
  <td>
    <h1>{{site.author}}</h1>
    <div>
      <strong>Email:</strong> 
      <div id="email" style="text-align: center; display: inline-block;">
        @ist.ac.at
        <div style="float:left; display:inline-block;">
        ekokoris
        <span style="display:none;">mymail</span></div>
      </div>
    </div>

<!--
    <div>
      <strong>Office:</strong>
      32-G630, <a href="https://www.google.com/maps/place/Ray+and+Maria+Stata+Center,+Cambridge,+MA+02142/">Stata Center</a>
    </div>

    <div>
      <strong>Web:</strong>
      <a href="https://www.linkedin.com/in/eleftherios-kokoris-kogias-52836274/">Lefteris</a>
    </div>
-->

    <b>
    <a href="https://scholar.google.gr/citations?user=7TOIlqkAAAAJ">Google Scholar</a> | 
    <a href="https://dblp.uni-trier.de/pers/hd/k/Kokoris=Kogias:Eleftherios">DBLP</a> |
    <a href="https://twitter.com/LefKok">Twitter</a> |
    <a href="https://www.linkedin.com/in/eleftherios-kokoris-kogias-52836274/">LinkedIn</a> 

    </b>
  </td>
</tr></table>
